<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="/images/logo-menor.png" alt="" width="50px" style="padding-left: 10px;">
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/index">Animais</a>
        </li>
    </ul>
</nav>
<br>