<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %> 

<h1>Dashboard do Sistema</h1>
<canvas id="graficoAcessos" width="400" height="200"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // Pegando os dados do backend e transformando em JS puro
  const dados = JSON.stringify(dados) ;

  const ctx = document.getElementById('graficoAcessos').getContext('2d');
  const grafico = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ['Seg', 'Ter', 'Qua', 'Qui', 'Sex'],
          datasets: [{
              label: 'Acessos por dia',
              data: dados.acessos,
              borderColor: 'rgba(75, 192, 192, 1)',
              tension: 0.2
          }]
      }
  });
</script>

<%- include('partials/footer.ejs') %>
