<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %> 

<div id="map" data-aos="zoom-in"></div>

<script>
    const map = L.map("map").setView([-24.586153483493124, -47.89088919401234], 17); // Centraliza em Registro/SP

  // Adiciona mapa base
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution: '© OpenStreetMap contributors'
  }).addTo(map);

  
  // Pega localizações do servidor
  const localizacoes = <%- JSON.stringify(localizacoes) %>;

  localizacoes.forEach(loc => {
    if (loc.latitude && loc.longitude) {
      L.marker([loc.latitude, loc.longitude])
        .addTo(map)
        .bindPopup(`ID Bubalino: ${loc.idbubalino} <br>ID Coleira: ${loc.idcoleira}`);
    }
  });
</script>

<%- include('partials/footer.ejs') %>