<%- include('partials/header.ejs', { bodyClass: 'login-page' }) %>


<!--<img src="/images/bufalo1.jpg" alt="elemento1" style="width: 100%;     
position: absolute;
background-repeat: no-repeat;
background-size: contain;
opacity: 0.7;
width: 20%;
top: 0%;
right: -5%;
width: 20vw;
z-index: -1;
transform: scaleX(-1);"/>
    -->




   <img src="/images/elementobg2.png" alt="elemento1" style="width: 100%;     
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
    width: 20%;
    top: -25%;
    left: -5%;
    width: 20vw;
    z-index: -1;"/>

    <img src="/images/elementobg2.png" alt="elemento1" style="width: 100%;     
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
    width: 20%;
    top: -25%;
    right: -5%;
    width: 20vw;
    z-index: -1;
    transform: scaleX(-1);"/>


 
    <img src="/images/elementobg2.png" alt="elemento1" style="width: 100%;     
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
    width: 20%;
    bottom: -25%;
    right: -5%;
    width: 20vw;
    z-index: -1;
    transform: scaleY(-1) scaleX(-1)"/>

    <img src="/images/elementobg2.png" alt="elemento1" style="width: 100%;     
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
    width: 20%;
    bottom: -25%;
    left: -5%;
    width: 20vw;
    z-index: -1;
    transform: scaleY(-1)"/>


    







    <div class="container" style="position: absolute; font-family: 'Lato', sans-serif;">
        <div class="card card-container" style="background-color: transparent; color: #fff; border: 0px solid #374751; box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);">
            <img id="profile-img" class="profile-img-card" src="/images/logo-maior.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="POST" action="/login">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputEmail" name="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Senha" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Lembrar-se
                    </label>
                </div>
                <button class="btn btn-lg btn-success btn-block btn-signin" type="submit" style="color: #fff; text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6); font-size: medium;">Entrar</button>
            </form>
            <a href="#" class="forgot-password">
                Esqueceu sua senha?
            </a>
        </div>
    </div>

<%- include('partials/footer.ejs') %>