.container {
  padding: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-cards {
  display: flex !important;
  gap: 20px !important;
  margin-bottom: 20px !important;
  justify-content: center;
}

.card {
  flex: 1;
  height: 100%;
  min-width: 300px;
  width: 20vw;
  text-align: center;
  padding: 1%;
}

/* HOVER DASHBOARS */
.card {
  transition: transform 0.3s ease, border 0.3s ease;
}
.card1:hover {
  transform: scale(1.05);
  border: 2px solid #06D001 !important;
}
.card1:hover h2,
.card1:hover p,
.card1:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
/* Sombra sutil na imagem ao passar o mouse no card */
.card1:hover .icone-card {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}
/* Sombra no título ao passar o mouse no card */
.card1:hover h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}


.card2:hover {
  transform: scale(1.05);
  border: 2px solid #06D001 !important;
}
.card2:hover h2,
.card2:hover p,
.card2:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
/* Sombra sutil na imagem ao passar o mouse no card */
.card2:hover .icone-card {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}
/* Sombra no título ao passar o mouse no card */
.card2:hover h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}



.card3:hover {
  transform: scale(1.05);
  border: 2px solid #06D001 !important;
}
.card3:hover h2,
.card3:hover p,
.card3:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
/* Sombra sutil na imagem ao passar o mouse no card */
.card3:hover .icone-card {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}
/* Sombra no título ao passar o mouse no card */
.card3:hover h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}


.left-graph,
.right-graph {
  transition: transform 0.3s ease, border 0.3s ease;
}

.left-graph:hover,
.right-graph:hover {
  transform: scale(1.05);
  border: 2px solid #06D001;
}

/* CARD 1 */
#card1 {
  background: #4f6c7e;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  /* border: 2px solid #06D001; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-image: linear-gradient(to right, #06D001, #90A955) 1; */
  border: solid 2px #618399;
  color: #fff;
}#titulo1{
  font-size: 160%;
  margin-bottom: 5% !important;
  text-align: left;
  margin-bottom: 0;
  
}#texto1{
  font-size: 300%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

/* CARD 2 */
#card2 {
  background: #4f6c7e;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  /* border: 2px solid #06D001; */
  /* border-image: linear-gradient(to right, #90A955, #06D001, #90A955) 1; */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  border: solid 2px #618399;
}#titulo2{
  font-size: 160%;
  margin-bottom: 5% !important;
  text-align: left;
  margin-bottom: 0;
  /* text-shadow: 0 2px 2px #000; */

}#texto2{
  font-size: 300%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* CARD 3 */
#card3 {
  background: #4f6c7e;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  /* border: 2px solid #06D001; */
  /* border-image: linear-gradient(to right, #90A955, #06D001) 1; */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
  border: solid 2px #618399;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}#titulo3{
  font-size: 160%;
  margin-bottom: 5% !important;
  text-align: left;
  margin-bottom: 0;
  
}#texto3{
  font-size: 300%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  background: transparent !important; 
  box-shadow: none !important;
  border: none !important;
  padding: 0!important;
  margin: 0 !important;
}

/* Alinhamento gráficos chart.js */
.middle-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 70%;
  margin-top: 10px;
}

.left-graph,
.right-graph {
  flex: 1;
  height: 500px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: solid 2px #618399;
  height: 60vh;
}

.left-graph {
  background-color: #4f6c7e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1%;
  
}

.right-graph {
  background-color: #4f6c7e;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 1%;

}



