#label-alterar{
  margin-bottom: 4%;
}

/* TABEL ALTERAR ANIMAL  */
.card.bg-dark-custom {
    background-color: #3c4d58;
    color: #fff;
    height: 50%;
    padding: 1.5%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px solid #4f6c7e;
    margin-top: 30px;
    width: 40%;
  }

  .bg-dark-custom input,
  .bg-dark-custom label,
  .bg-dark-custom h5 {
    color: #fff;
  }

  .bg-dark-custom input.form-control {
    background-color: #4a5c67;
    border-color: #627783;
    color: #fff;
  }

  /* fim alterar animal */





  /* ALTERAR COLEIRA */
  .card.bg-dark-custom-coleira {
    background-color: #3C4D58;
    background: #3C4D58;
    border: solid 0px #ffffff48;
    color: #fff;
  }

  .bg-dark-custom-coleira input,
  .bg-dark-custom-coleira label,
  .bg-dark-custom-coleira h5 {
    color: #fff;
  }

  .bg-dark-custom-coleira input.form-control {
    background-color: #4a5c67;
    border-color: #627783;
    color: #fff;
  }
  /* fim alterar coleira */




  /* EDITAR ANIMAL */
/* Centralizar a .container-editar na página */
.container-editar {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  width: 100%;             /* Garante que ocupe toda a largura da tela */
  min-height: 100vh;       /* Garante que ocupe toda a altura da tela */
  margin: 0;
  padding: 2%;             /* Adiciona um pequeno espaço interno para não grudar nas bordas */
  margin-top: 0;
}

/* Para limitar o tamanho da div em telas grandes e melhorar a responsividade */
.card.bg-dark-custom {
  max-width: 800px;  /* Limita o tamanho da div a 800px para telas grandes */
  width: 100%;       /* Faz com que a largura ocupe 100% do espaço disponível até o limite */
  border: 2px solid #06D001;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
  text-align: left;
}




  /* EDITAR COLEIRA */
  /* Centralizar a .container-editar na página */
.container-editar-coleira{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  width: 100%;             /* Garante que ocupe toda a largura da tela */
  min-height: 100vh;       /* Garante que ocupe toda a altura da tela */
  margin: 0;
  padding: 2%;             /* Adiciona um pequeno espaço interno para não grudar nas bordas */
  margin-top: -10%;
}

/* Para limitar o tamanho da div em telas grandes e melhorar a responsividade */
.card.bg-dark-custom-coleira{
  max-width: 800px;  /* Limita o tamanho da div a 800px para telas grandes */
  width: 100%;       /* Faz com que a largura ocupe 100% do espaço disponível até o limite */
  border: 2px solid #06D001;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
  text-align: left;
}