html, body {
  height: 100%;
  margin-top: 0;
  padding-top: 0;
}


body {
  padding-top: 12vh; /* igual à altura da navbar */
}


/* NAVBAR */
#navbar {
 background-color: #40555F;
 box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
 position: fixed;
 top: 0; 
 width: 100%; 
 z-index: 2;
 height: 7vh;
}

#navbar::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.3vh; /* altura da borda */
  width: 100%;
  background: linear-gradient(to right, #06D001,  #04A600);
  z-index: -1;
}

#logo-nav {
  transition: transform 0.3s ease, filter 0.3s ease;
}

#logo-nav:hover {
  transform: scale(1.1);
  filter: brightness(1.4) drop-shadow(0 0 0px #06D001);
}

.nav-item{
  color: white;
  font-weight: bold;
}

#nav-link {
 
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  /* transition: color 0.3s ease; */
}

#nav-link:hover {
  color: #1DFF18;
  transform: scale(1.1);
  /* filter: brightness(1.0) drop-shadow(0 0 0px #06D001); */
}

/* COMEÇA INDEX.EJS */
tbody tr:nth-child(odd) {
    background-color: white;
  }

  tbody tr:nth-child(even) {
    background-color: #48FF85;
  }

  /* Opcional: mudar a cor do hover */
  tbody tr:hover {
    background-color: #90A955;
  }

/*---------------------------------------------------------------*/

.tabela-container {
    background-color: #374751;
    padding: 2%;
    width: 100%;
    display: inline-block; /* Faz com que a "borda" fique justinha na tabela */   
}

#tabelas{
  /* border: 2px solid #000000; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #3C4D58;
  border: 2px solid #4f6c7e;
  width: 100%;
  color: #fff;
}

#linhas{
  background-color: #3c4d58;
}
.table.bg-dark-custom,
.table.bg-dark-custom th,
.table.bg-dark-custom td {
  background-color: #3c4d58 !important;
  color: #fff !important;
  border-color: #495a63; /* opcional: bordas mais visíveis no fundo escuro */
}
/* Garante que as linhas tenham altura igual */
tr {
  height: 5vh;
}
/* Responsividade adicional: quebra de texto */
td {
  word-break: break-word;
  vertical-align: middle !important;
  min-height: 100px;
}
/* FECHA TABELA --------------------------- */









/* Modal Adicionar Animal */
#modal-fora{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  border: 2px solid #06D001;
}

#modal-dentro{
  background-color: #3c4d58;
  color: #fff;
}

#x{
  color: #06D001;
  text-shadow: 1px 1px 3px #000000;
}
#label-modal{
  margin-bottom: 3%;
}

/* Modal Visualizar animal */
#vizualizar-animal{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #3C4D58;
  border: 2px solid #06D001;
  width: 100%;
  color: #fff;
} 




/* Modal Adicionar Coleira */
#modal-fora-coleira{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  border: 2px solid #06D001;
}

#modal-dentro-coleira{
  background-color: #3c4d58;
  color: #fff;
}

#x{
  color: #06D001;
  text-shadow: 1px 1px 3px #000000;
}


#label-modal-coleira{
  margin-bottom: 3%;
}
/* ACABA INDEX.EJS */


#map {
  width: 70%;
  height: 70%;
  margin: 40px auto;
  border-radius: 10px;
  border: 2px solid #4f6c7e;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, border 0.3s ease;
} 

#map:hover{
  transform: scale(1.05);
  border: 2px solid #06D001;
}