html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.nav-item{
  color: white;
  font-weight: bold;
}

.nav-link {
  position: relative;
  color: #fff;
  transition: color 0.3s ease;
}

#nav-link {
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

#nav-link:hover {
  color: #1DFF18;
  transform: scale(1.1);
}
/* COMEÇA INDEX.EJS */
tbody tr:nth-child(odd) {
    background-color: white;
  }

  tbody tr:nth-child(even) {
    background-color: #48FF85;
  }

  /* Opcional: mudar a cor do hover */
  tbody tr:hover {
    background-color: #90A955;
  }

  .tabela-container {
    background-color: #374751;
    padding: 25px;
    width: 100%;
    display: inline-block; /* Faz com que a "borda" fique justinha na tabela */
  }
#tabelas{
  /* border: 2px solid #000000; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #3C4D58;
  border: 2px solid #4f6c7e;
  width: 100%;
}

#linhas{
  background-color: #3c4d58;
}
.table.bg-dark-custom,
.table.bg-dark-custom th,
.table.bg-dark-custom td {
  background-color: #3c4d58 !important;
  color: #fff !important;
  border-color: #495a63; /* opcional: bordas mais visíveis no fundo escuro */
}
/* Garante que as linhas tenham altura igual */
tr {
  height: 5vh;
}
/* Responsividade adicional: quebra de texto */
td {
  word-break: break-word;
  vertical-align: middle !important;
  min-height: 100px;
}
/* FECHA TABELA --------------------------- */

/* Modal Adicionar Animal */
#modal-fora{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  border: 2px solid #06D001;
}

#modal-dentro{
  background-color: #3c4d58;
  color: #fff;
}

#x{
  color: #06D001;
  text-shadow: 1px 1px 3px #000000;
}
#label-modal{
  margin-bottom: 3%;
}

/* Modal Adicionar Coleira */
#modal-fora-coleira{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  border: 2px solid #06D001;
}

#modal-dentro-coleira{
  background-color: #3c4d58;
  color: #fff;
}

#x{
  color: #06D001;
  text-shadow: 1px 1px 3px #000000;
}


#label-modal-coleira{
  margin-bottom: 3%;
}
/* ACABA INDEX.EJS */